nextjs/node_modules/*
nextjs/.next/*
nextjs/package-lock.json
nextjs/yarn-error.log
nextjs/yarn.lock
nextjs/.env
nextjs/.env.local
nextjs/.env.development
nextjs/.env.development.local
nextjs/.env.test
nextjs/.env.test.local
nextjs/.env.production
nextjs/.env.production.local

crypto-trading-bot/__pycache__/*
crypto-trading-bot/*.py[cod]
crypto-trading-bot/*.pyo
crypto-trading-bot/*.pyd
crypto-trading-bot/.pytest_cache
crypto-trading-bot/.mypy_cache
crypto-trading-bot/.coverage
crypto-trading-bot/.coverage.*
crypto-trading-bot/*__pycache__*
crypto-trading-bot/model/*
crypto-trading-bot/.venv/*
crypto-trading-bot/models/*
crypto-trading-bot/data/*
crypto-trading-bot/logs/*
crypto-trading-bot/whale/data/*
crypto-trading-bot/.env